
DEV_DB=mongodb://localhost:27017/test
STAGING_DB=mongodb+srv://test:password@cluster0.ma2ql.mongodb.net/?retryWrites=true&w=majority
HASH=10
TOKEN_SECRET=strong-secret



TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

CRYPTO_KEY=strong-secret





#FIREBASE CONFIG
FB_STORAGE_BASE_PATH=gs://red-tide-275701.appspot.com



